html, body { margin: 0px; padding: 0px; height: 100%; overflow:hidden; font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif; }

html { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

canvas { border:0; display:block; margin:0px 0px; width: 100%; background-color: transparent;}

h1 { font-size: 18px; font-weight: bold; line-height: 36px; margin: 0px; }
h2 { font-size: 16px; font-weight: bold; line-height: 32px; margin: 0px; }
h3 { font-size: 14px; font-weight: bold; line-height: 28px; margin: 0px; }
h4 { font-size: 12px; font-weight: bold; line-height: 24px; margin: 0px; }

.container {
    height: 100%;
    height: 100%;
}

.header, .footer {
    padding: 0px;
    margin: 0px;
    width: 100px;
    height: 100px;  
    background-color: #76611a;
    position: relative;
    z-index: 100;
}

.mapviewport {
    height:100%;
    position: relative;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:-100px 0;
    padding:0px 0;
}
.mapscroller {
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: 0;
}
.mapscroller:hover {
    background-color: rgba(255, 255, 255, 0.25);
}
.content {
    overflow:hidden;
    height:100%;
    width: 100%;
}

