html, body { margin: 0px; padding: 0px; height: 100%; overflow:hidden; font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif; }

html { 
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

canvas { border:0; display:block; margin:0px 10px; width: 100%; background-color: transparent; }

.container {
    height: 100%;
    height: 100%;
}

.header, .footer {
    padding: 0px;
    margin: 0px;
    height: 50px;  
    background-color: transparent;
}

.mapviewport {
    height:100%;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:-50px 0;
    padding:50px 0;
}
.content {
    overflow:hidden;
    height:100%;
    width: 100%;
}

